<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Perfil
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon  color="tertiary" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div *ngIf="!uid.length">

      <h3 class="encabezado-bordes p-3 encabezado">Ingrese Datos</h3>
      
      <ion-item *ngIf="!ingresaEnable">
        <ion-label class="normal" position="floating">
          Nombre
        </ion-label>
        <ion-input name="name"[(ngModel)]="cliente.nombre" class="normal"type="string"></ion-input >
      </ion-item>
    
      <ion-item>
        <ion-label class="normal" position="floating">
          Email
        </ion-label>
        <ion-input name="email"[(ngModel)]="cliente.email" class="normal"type="string"></ion-input >
      </ion-item>
  
      <ion-item *ngIf="!ingresaEnable">
        <ion-label class="normal" position="floating">
          Celular
        </ion-label>
        <ion-input name="number"[(ngModel)]="cliente.celular" class="normal"type="string"></ion-input >
      </ion-item>
  
      <ion-item>
        <ion-label class="normal" position="floating">
          Contraseña
        </ion-label>
        <ion-input [(ngModel)]="cliente.password" class="normal"type="string"></ion-input >
      </ion-item>
    
      <ion-item *ngIf="!ingresaEnable">
        <ion-label class="normal" >
          Imagen Referencial
        </ion-label>
        <ion-buttons slot="end" >
          <ion-button>
            <label for="file-upload">
              <ion-icon slot="icon-only" name="image"></ion-icon>
            </label>
            <input (change)="newImageUpload($event)" id="file-upload"style="display: none" type="file" accept="image/*">
          </ion-button>
        </ion-buttons>
      </ion-item>
  
      <ion-item *ngIf="!ingresaEnable">
        <img class="image" [src]="cliente.imagen" >
      </ion-item>
  
      <div style="text-align: end; margin:10px">
        <ion-button *ngIf="!ingresaEnable" (click)=" ingresaEnable = true" class="normal" color="dark">ingresar</ion-button>
        <ion-button *ngIf="ingresaEnable" (click)=" ingresar()" class="normal" color="dark">Login</ion-button>
        <ion-button *ngIf="!ingresaEnable" (click)="registrarse()" class="normal" color="dark">Registrarse</ion-button>
        <ion-button *ngIf="ingresaEnable" (click)="ingresaEnable = false" class="normal" color="dark">ó registrarse</ion-button>
       </div>  
    </div>

    <!--  -->

    <div *ngIf="uid.length">
      <h3 class="encabezado-bordes p-3 encabezado">Tus Datos</h3>
      <h4 class="normal p-3 ">{{cliente.nombre}}</h4>
      <ion-item>
        <ion-label class="normal" >
           {{cliente.email}}
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label class="normal" >
          Celular {{cliente.celular}}
        </ion-label>
      </ion-item>


      <div style="text-align: end; margin:10px">
        <ion-button [routerLink]="['/']" 
                  (click)="guardarUser()" class="normal" color="dark">Guardar</ion-button>
      </div>
      <div style="text-align: end; margin:10px">
        <ion-button (click)="salir()" class="normal" color="dark">Salir</ion-button>
      </div>
    </div>


     
    


  </ion-content>